{% extends "ansibleweb/base.html" %}
{% block content %}
    {% load crispy_forms_tags %}
    <section class="dashboard-counts section-padding">
        <div class="container fluid dashboard-content">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="page-header">
                    <h2 class="pageheader-title">Add Network Device</h2>
                    <p class="pageheader-text">Add Group and Host of Network Device</p>
                  </div>
                </div>
              </div>
          <div class="row d-flex align-items-md-stretch">
           <div class="card">
          <form method="POST" class="text-left">
               {% csrf_token %}
               <div class="card-body">
                <div class="row spacer">

                    <div class="col-2">
                        <label>Name Playbook</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            {{p_form.name}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row spacer">

                    <div class="col-2">
                        <label>Nama Group</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            {{p_form.hosts}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row spacer">

                    <div class="col-2">
                        <label>Become</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            {{p_form.become}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row spacer">

                    <div class="col-2">
                        <label>Become Method</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            {{p_form.become_method}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row spacer">

                    <div class="col-2">
                        <label>Gather Facts</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            {{p_form.gather_facts}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row spacer">
                    <div class="col-2">
                        <label>Ansible Module</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            {{t_form.module}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row spacer">
                    <div class="col-2">
                        <label>Commands</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            {{t_form.commands}}
                        </div>
                    </div>
                </div>
            </div>
             <div class="form-group text-center">
             <button class="btn btn-outline-info" type="submit">Create</button>
            </div>
         </form>
        </div>
    </div>
    </div>
  </section>
      {% endblock content %}